<div class="card detailscars" *ngIf="product$ | async">
    <h5 class="card-header">{{product.title}}</h5>

    <div class="card-body row">
      <div class="col-md-6">
          <app-image-carousel [imgsUrls]="product.imagesUrls"></app-image-carousel>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="staticTitle" class="col-sm-3 col-form-label">Product Title</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticTitle" [value]="product.title">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticDescription" class="col-sm-3 col-form-label">Product Description</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticDescription" [value]="product.description">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticQuantity" class="col-sm-3 col-form-label">Product Quantity</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticQuantity" [value]="product.quantity">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticPrice" class="col-sm-3 col-form-label">Product Price</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticPrice" [value]="product.price">
          </div>
        </div>
      </div>
    </div>
  </div>