<div class="card" style="width: 50rem;">
    <h5 class="card-header">Edit product</h5>

    <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label required">Product title</label>
                <div class="col-sm-10">
                  <input readonly type="text" class="form-control-plaintext" formControlName="title" id="title" placeholder="title">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="ProductDescription" class="col-sm-2 col-form-label">Product description</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control " formControlName="description" id="ProductDescription" placeholder="description"></textarea>
                  <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="text-danger">
                    <small *ngIf="f.description.errors?.minlength">
                      description must be at least 5 characters long.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="row">
                    <label for="Productprice" class="col-sm-4 col-form-label required">Product price</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" formControlName="price" id="Productprice" placeholder="0">
                      <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)" class="text-danger">
                        <small *ngIf="f.price.errors?.required">
                          price is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label for="Productquantity" class="col-sm-6 col-form-label required">Product quantity</label>
                    <div class="col-sm-6">
                      <input type="number" min="0" class="form-control" formControlName="quantity" id="Productquantity" placeholder="0">
                      <div *ngIf="f.quantity.invalid && (f.quantity.dirty || f.quantity.touched)" class="text-danger">
                        <small *ngIf="f.quantity.errors?.required">
                          quantity is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="row mb-2">
                  <label for="selectedFile" class="col-md-2">Images</label>
                  <div class="custom-file col-md-2">
                    <input type="file" id="selectedFile" style="display: none;" accept=".png,.jpg"(change)="onFileChange($event)" />
                    <input type="button" value="Browse..." onclick="document.getElementById('selectedFile').click();" />
                  </div>
                </div>
                <div *ngIf="product != undefined && product.imagesUrls.length > 0">
                  <div class="input-group" *ngFor="let img of product.imagesUrls;let i=index">
                    <input
                    readonly
                    type="textt"
                    class="form-control"
                    [value]="img.url">                  
                    <div class="input-group-append">
                      <button class="btn btn-outline-danger" (click)="deleteImg(i,img.id,'url')" type="button">Delete</button>
                    </div>
                  </div>
                </div>
         
                <div class="input-group" *ngFor="let img of images;let i=index">
                  <input 
                  readonly
                  type="text"
                  class="form-control"
                  [value]="img.name">                  
                  <div class="input-group-append">
                    <button class="btn btn-outline-danger" (click)="deleteImg(i, 0)" type="button">Delete</button>
                  </div>
                </div>

              </div>
                <button class="btn btn-primary mt-5" type="submit">Submit</button>
          </form>
    </div>
  </div>