table {
    width: 100%;
  }
.addButton {
  position:absolute;
  right:0;
  top:0;
}
.mat-elevation-z8 {    
  overflow-x: auto;
 }
 td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}