img {
  height: 300px;
}

.product-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
mat-card-title {
  text-decoration: solid;
  font-weight: bold;
  text-align: center;
}