<div class="bg-light row">
	<div class="col-md-3 mt-3" *ngFor="let product of products; let i = index">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>{{product.title}}</mat-card-title>
			</mat-card-header>
			<img mat-card-image [src]='product.imagesUrls | imgUrl' [alt]="product.title">
			<mat-card-content>
				<p class="product-description">
					{{product.description}}
				</p>
			</mat-card-content>
			<mat-card-footer>
				<mat-card-actions>
					<button mat-button class="btn btn-outline-info mt-2"
						routerLink="edit-product/{{product.id}}">Edit</button>
					<button mat-button class="btn btn-outline-danger mt-2"
						(click)="delete(product.id, i)">Delete</button>
					<button mat-button class="btn btn-outline-success mt-2"
						routerLink="product/{{product.id}}">View</button>
				</mat-card-actions>
			</mat-card-footer>

		</mat-card>
	</div>
</div>