<div class="carous">
    <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    [interval]="5000"
    color="accent"
    maxWidth="auto"
    [slides]="imgsUrls.length"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
    [maintainAspectRatio]="false"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of imgsUrls; let i = index"
      [image]="slide.url"
      overlayColor="#fffff"
      [hideOverlay]="false"
    ></mat-carousel-slide>
  </mat-carousel>
</div>
